# Those environment variables should be provided in CI pipeline (via context or project envs)

AWS_ACCESS_KEY_ID
AWS_ACCOUNT_ID
AWS_DEFAULT_REGION
AWS_ECR_REPOSITORY_URL
AWS_S3_BUCKET
AWS_SECRET_ACCESS_KEY
CACHE_VERSION_TIMESTAMP